

/* Configuração Global */
* {
    font-family: Arial, sans-serif;
}


/* Define estilos gerais para o corpo */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para o cabeçalho */
header {
    background-image: linear-gradient(to top, #18051a, black);
    color: #fff;
    margin: 0px;
    padding: 10px;
}



/* --------------------- configuração dos menu (inicio) --------------------- */
.menu {
    margin: 0 0 0 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


ul { 
    display: flex; 
    list-style: none; /* remove os pontos de lista */ 
    margin: 0 0 0 5vw; /* coloca 5vw para esquerda, separando a logo do topico */
    padding: 0;
}


ul li { 
    margin-right: 5vw; /* adiciona espaço entre os itens do menu */
}


ul li a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}

/* muda a cor dos links */
a:hover {
    color: #1D1E8F;
    background-color: #8486e6;
    border-radius: 10%;
}

.logo-oficial {
    margin: 0 0 0 70px;  /* espaço para esquerda */
    width: 100px; /* tamanho da imagem largura */
    height: 100px; /* tamanho da imagem altura */
}



/* --------------------- configuração dos menu (fim) --------------------- */





/* --------------------- seção 1 do site (inicio) --------------------- */


.container1 {
    background-image: url("background2.png");
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    

    padding: 0.5%; /* lembrar de remover */
    display: flex; /* deixa o conteudo um do lado do outro */
    gap: 1%; /* tamanho do espaço que separa os item dentro do container */
    justify-content: flex-start; /* alinha o conteudo (item1 e item2) para a esquerda */
}


/* texto do conteudo */
#item1 {
    /* background-color: #f50909; */
    padding: 1%; /* Ajusta o espaçamento interno */
    padding-left: 4%; /* Ajusta o espaçamento na esquerda */
    margin-right: 0%;
    display: block;
    box-sizing: border-box; /* Inclui padding na largura */
}


#item1 > h1 {
    margin: 0 0 0 0; /* Espaçamento margens zerada */
    /* background-color: #970404; */ 
    padding-top: 10%; /* Ajusta o espaçamento interno em cima */
    font-size: 3.4rem; /* Ajusta o tamanho do texto */
    line-height: 1.2; /* Define o espaçamento entre linhas */
    font-weight: bold;
    color: #fff;
    word-break: break-word; /* Permite quebra de palavras */
    position: relative; /* cria uma posição relativa para animação funcionar */
    animation: slideDown 3s forwards; /* cria uma função com o nome sildeDown */
}

/* chama a função slideDown */
@keyframes slideDown { 
    from {
        transform: translateY(-30%); /* move o elemento para cima, fora de sua posição original.
        */
    }
    to {
        transform: translateY(0); /* translateY(0); */
    }

}


#item1 > p {
    margin: 0 0 0 0;
    font-size: 2.4rem; /* tamanho da fonte */
    line-height: 1.2; /* espaçamento da linha */
    color: #5448D1;
    font-weight: bold;
    /* max-width: 900px; /* Limita o tamanho máximo */
    position: relative; /* cria uma posição relativa para animação funcionar */
    animation: moveRight 2s alternate; /* cria uma função com o nome moveRight */
}

/* chama a função moveRight */
@keyframes moveRight {
    from {
        right: 200px; /* direção que o texto vem */
    }
    to {
        right: 0; /* direção que o texto vai */
    }
}


/* foto do conteudo */
#item2 {
    /* background-color: aquamarine; */
    /* flex-grow: 1; permite que todo o espaço restante seja preenchido pelo item2 */
}


/* arquivo img da foto-inicial 1030x1030 */
.FOTO-INICIAL {
    max-width: auto; /* Limita a largura máxima da imagem */
    max-height: 100vh; /* Limita a altura máxima da imagem */
    /* background-color: #5448D1; */
    object-fit: cover; /* precisei cortar a imagem  */
    object-position: -120px 0px; /* precisei cortar a imagem -120px é o tanto que recortei */
}


/* botao inscrever-se */
button {
    margin-top: 20%;
    color: #5448D1;
    font-weight: bold;
    padding: 25px 30px; /* Ajusta o botão */
    border-radius: 30px; /* borda do botão */
    font-size: 2rem;
}


/* --------------------- seção 1 do site (fim)--------------------- */







/* responsividade para celular */
@media (max-width: 768px) {
   

    ul { 
        margin: 0 0 0 3vw; /* coloca 80px para esquerda, separando a logo do topico */
        padding: 0;
    }
    
    
    ul li { 
        margin-right: 5vw; /* adiciona espaço entre os itens do menu */
    }

    .logo-oficial {
        margin: 0 0 0 15px;  /* espaço para esquerda */
        width: 80px; /* tamanho da imagem largura */
        height: 80px; /* tamanho da imagem altura */
    }


    ul li a {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
    }




    
    .container1 {
        display: block; /* deixa o conteudo um do lado do outro */
        gap: 1%; /* tamanho do espaço que separa os item dentro do container */
        
    }



    #item1 {
        width: 100%; /* Define a largura da div */
        text-align: center; /* justifica o texto */
        padding: 0; /* remove o o padding em volta do texto */
        
    }

    #item1 > h1 {
        padding: 2%; /* reduz o padding padrao para ficar menor */
        font-size: 1.8rem; /* diminui o tamnho da fonte */
    }

    #item1 > p {
        margin-top: 5%;
        font-size: 1.2rem;
    }

    button {
        margin-top: 10%;
        margin-bottom: 10%;
    }


    .FOTO-INICIAL {
        max-width: 100%; /* Limita a largura máxima da imagem */
        max-height: 100%; /* Limita a altura máxima da imagem */
        object-position: -20px 0px;
        }
}


/* responsividade para notbook e tablet */
@media (min-width: 769px) and (max-width: 1360px) {


    #item1 {
        width: 100vh; /* limita o item1 para ficar com metade da tela */
    }

    #item1 > h1 {
        /*color: aqua; */
        font-size: 2.5rem;
    }

    #item1 > p {
        font-size: 1.6rem;
    }

    .FOTO-INICIAL {
        max-width: 100%; /* Limita a largura máxima da imagem */
        max-height: 100vh; /* Limita a altura máxima da imagem */
    }
}
























/* --------------------- seção 2 do site (inicio)--------------------- */


.container2-parte1 {
    background-color: #970404;
    padding: 10px;
    gap: 50px;
    display: flex;
}

.container2-parte1 > #item1 {
    background-color: rgb(71, 136, 7);
}


/* usei um parentesco mencionando o #item2 que está dentro de container 2 */
.container2-parte1 > #item2 {
    background-color: coral;
    flex-grow: inherit; /* permite que todo o espaço restante seja preenchido pelo item2 */
}


.container2-parte2 > #item2 {
    background-color: rgb(59, 122, 101);
    text-align: center;
    color: #f50909;
    
}

.container2-parte3 > #item3 {
    padding: 10px;
    background-color: darkorchid;
    text-align: center;
}

.container2-parte4 > #item4 {
    background-color: rgb(51, 35, 59);
    text-align: center;
    display: flex;
}

.container2-parte4 p {
    background-color: #f50909;
    margin-left: auto;
    margin-right: a;
}


/* --------------------- seção 2 do site (fim)--------------------- */
