

/* Configuração Global */
* {
    font-family: Arial, sans-serif;
}


/* Define estilos gerais para o corpo */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para o cabeçalho */
header {
    background-image: linear-gradient(to top, #18051a, black);
    color: #fff;
    margin: 0px;
    padding: 10px;
}



/* --------------------- configuração dos menu (inicio) --------------------- */
.menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


ul { 
    display: flex; 
    list-style: none; /* remove os pontos de lista */ 
    margin: 0 0 0 80px; 
    padding: 0;
}


ul li { 
    margin-right: 40px; /* adiciona espaço entre os itens do menu */
}


ul li a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}

/* muda a cor dos links */
a:hover {
    color: #1D1E8F;
    text-decoration: underline; /* coloca sublinhado quando aproxima o mouse */
}

.logo-oficial {
    margin: 0 0 0 70px;  /* espaço para esquerda */
    width: 100px; /* tamanho da imagem largura */
    height: 100px; /* tamanho da imagem altura */
}

/* --------------------- configuração dos menu (fim) --------------------- */






/* --------------------- seção 1 do site (inicio) --------------------- */


.container1 {
    background-image: url("background2.png");
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    

    padding: 10px;
    display: flex; /* deixa o conteudo um do lado do outro */
    gap: 10px; /* tamanho do espaço que separa os item dentro do container */
}

/* texto do conteudo */
#item1 {
    margin: 0 auto;
    padding: 20px; /* Ajusta o espaçamento interno */
    padding-left: 150px; /* Ajusta o espaçamento na esquerda */
    margin-right: 0%;
    display: block;
    width: 80%; /* Define a largura da div */
    max-width: 1300px; /* Limita o tamanho máximo */
    box-sizing: border-box; /* Inclui padding na largura */
    
}

#item1 > h1 {
    margin: 0 0 0 0; /* Espaçamento margens zerada */
    padding-top: 160px; /* Ajusta o espaçamento interno em cima */
    font-size: 4.5rem; /* Ajusta o tamanho do texto */
    line-height: 1.2; /* Define o espaçamento entre linhas */
    font-weight: bold;
    color: #fff;
    word-break: break-word; /* Permite quebra de palavras */
}

#item1 > p {
    margin: 0 0 0 0; /* Espaçamento margens zerada */
    margin-bottom: 20px; /* Espaço abaixo do parágrafo */
    font-size: 2.8rem; /* tamanho da fonte */
    line-height: 1.2; /* espaçamento da linha */
    color: #5448D1;
    font-weight: bold;
    max-width: 900px; /* Limita o tamanho máximo */
}

/* foto do conteudo */
#item2 {
    width: auto;
    height: auto;
    flex-grow: 1; /* permite que todo o espaço restante seja preenchido pelo item2 */
}


/* botao inscrever-se */
button {
    margin-top: 150px;
    color: #5448D1;
    font-weight: bold;
    padding: 30px 30px; /* Ajusta o botão */
    border-radius: 30px; /* borda do botão */
    font-size: 3rem;
}


/* --------------------- seção 1 do site (fim)--------------------- */






/* --------------------- seção 2 do site (inicio)--------------------- */


.container2-parte1 {
    background-color: #970404;
    padding: 10px;
    gap: 50px;
    display: flex;
}

.container2-parte1 > #item1 {
    background-color: rgb(71, 136, 7);
}


/* usei um parentesco mencionando o #item2 que está dentro de container 2 */
.container2-parte1 > #item2 {
    background-color: coral;
    flex-grow: inherit; /* permite que todo o espaço restante seja preenchido pelo item2 */
}


.container2-parte2 > #item2 {
    background-color: rgb(59, 122, 101);
    text-align: center;
    color: #f50909;
    
}

.container2-parte3 > #item3 {
    padding: 10px;
    background-color: darkorchid;
    text-align: center;
}

.container2-parte4 > #item4 {
    background-color: rgb(51, 35, 59);
    text-align: center;
    display: flex;
}

.container2-parte4 p {
    background-color: #f50909;
    margin-left: auto;
    margin-right: a;
}


/* --------------------- seção 2 do site (fim)--------------------- */














/* Estilos responsivos */
@media (max-width: 768px) {
    .menu-links {
        flex-direction: column;
        align-items: self-start; /* texto vai para a esquerda */
    }

    .container1 {
        padding: 2em 1em;
    }
}
